@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
	font-family: "Jost", sans-serif;
}

.schedule_form_wrapper {
	padding: 80px 0;
}

.schedule_form_wrapper .schedule_form_head p {
    display: inline-block;
    padding: 4px 10px;
    text-transform: capitalize;
    background: #00000021;
    border-radius: 10px;
}

.schedule_form_wrapper .schedule_form_head h2 {
	font-size: 50px;
	font-weight: 700;
	margin-top: 10px;
}

.schedule_form_wrapper figure {
	margin: 0 !important;
}

.schedule_form_wrapper figure img {
	border-radius: 15px;
}

.schedule_form_wrapper figure h3 {
	font-size: 23px;
	font-weight: 600;
	margin-top: 20px;
}

.schedule_form_wrapper figure a {
	color: #b07e50;
	font-size: 18px;
}

.schedule_form_wrapper form input,
.schedule_form_wrapper form textarea {
    width: 100%;
    height: 45px;
    border: 1px solid #0000003d;
    padding-left: 15px;
    background: #00000008;
    border-radius: 5px;
}

.mt_30 {
	margin-top: 30px;
}

.schedule_form_wrapper form textarea {
	height: 200px !important;
	padding-top: 10px;
}

.schedule_form_wrapper form button {
	height: 45px;
	padding: 0 20px;
	background: #b07e50;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: transparent;
	color: #ffffff;
	transition: 0.4s all ease-in-out;
}

.schedule_form_wrapper form button:hover {
	opacity: 0.7;
}



/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1399px){
	
}
@media (min-width: 1400px) { 
	
}
@media (min-width: 1200px) {

}

@media (max-width: 1199px) { 

}

@media (max-width: 991px) {

}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767px) {
		
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575px) {

}
